body{
    display: block;
    margin: 0px;
}

.header{
    width: 100%;
    height: 5em;
    background: black;
}
.heading{

    font-size: 4em;
    text-align: center;
    padding: 8px;
    margin: 0px;
    display: flex
;
    flex-direction: column;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 0, 0, 0.84));
    color: transparent;
    background-clip: text;
    text-shadow: white;
}
.heading:hover{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255));
    color: transparent;
    background-clip: text;
    cursor: pointer;
}
.img{
     width: 100%;
      height: 40em;
     margin: 0px;
     filter: blur(8px);
     -webkit-filter: blur(8px);
     position: absolute;
}